@model Blog
@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Title</h1>


<div class="row">
    <div class="col-md-3">
        @await Component.InvokeAsync("CategoryMenu")
    </div>
    <div class="col-md-9">
        <div class="card">
            <img src="~/img/@Model.Image" class="card-img-top" alt="resim yok">
            <div class="card-header">
                @Model.Title
            </div>
            <div class="card-body">
                <h5 class="card-title">@Model.Title</h5>
                <p class="card-text">@Model.Description</p>
                <p class="card-text">@Html.Raw(Model.Body)</p>
            </div>
        </div>
    </div>
</div>
